body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  background-color: black;
  border-bottom: 2px solid red;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  font-size: 1.5rem;
  padding: 0.5rem 5rem 0.5rem 5rem;
  align-items: center;
  flex-direction: row;
  justify-content: first baseline;
  z-index: 2;
}

.header .link-logo {
  color: red;
  width: 35%;
  text-decoration: none;
}

.header .link-logo .g {
  font-size: 50px;
  font-weight: bold;
}
.header nav {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.header .nav a {
  color: aliceblue;
  text-decoration: none;
  padding-inline: 1rem;
  margin-inline: 1rem;
  font-size: 17px;
}
.header a:hover {
  color: red;
}
.header a {
  color: aliceblue;
  text-decoration: none;
  padding-inline: 1rem;
  margin-inline: 1rem;
  font-size: 17px;
}

.button-mobile-header {
  display: none;
}

.icon-logout {
  color: red;
  transform: rotate(180deg);
}
.logout {
  display: flex;
  gap: 1px;
}

@media (min-width: 1px) and (max-width: 1011px) {
  .header {
    display: none;
  }
  .button-mobile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 20;
    background-color: black;
    border: 0.1px solid rgba(255, 0, 0, 0.534);
    padding: 8px;
  }
  .icon-mobile-button {
    color: rgb(255, 0, 0);
  }

  .header-mobile {
    position: fixed;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: black;
    z-index: 20;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .link-logo {
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-decoration: none;
  }
  .link-logo .g {
    font-size: 50px;
    font-weight: bold;
    color: red;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav a {
    padding: 15px;
    font-size: 25px;
    text-decoration: none;
    border-top: 0.1px solid rgba(255, 0, 0, 0.527);
    color: aliceblue;
  }
  .nav .add-videos {
    border-bottom: 0.1px solid rgba(255, 0, 0, 0.527);
  }

  .logout {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
}
