.div-login {
  width: 40%;
  height: 70%;
  background-color: rgba(25, 25, 25, 0.9);
  border: 1px solid red;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.div-login h2 {
  color: red;
  font-size: 50px;
}
.div-login .icon-user {
  color: red;
  margin-bottom: 0;
  padding-bottom: 0;
}

.div-login .formulario-login {
  width: 70%;
  height: 70%;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 20px;
  margin-top: 0;
  padding-top: 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-login .formulario-login .p-alert {
  color: red;
  text-align: left;
  margin-left: 45px;
  font-size: 14px;
}

.div-login .formulario-login .div-input-login {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  align-items: center;
  gap: 0.5rem;
}
.div-login .formulario-login .div-input-login .key {
  color: red;
}
.div-login .formulario-login .div-input-senha .locke {
  color: red;
}

.div-login .formulario-login .div-input-senha {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  align-items: center;
  gap: 0.5rem;
}
.div-login .formulario-login input {
  background: transparent;
  outline: none;
  width: 300px;
  border-radius: 20px;
  height: 40px;
  color: rgba(240, 248, 255, 0.192);
  border: 1px solid red;
  padding: 10px;
}
.div-login .formulario-login button {
  background: rgba(0, 0, 0, 0.7);
  outline: none;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  color: aliceblue;
  border: 1px solid red;
  margin-top: 1rem;
  cursor: pointer;
}
.div-login .formulario-login button:hover {
  background: rgba(255, 16, 16, 0.5);
  outline: none;
  border-radius: 5px;
  height: 40px;
  color: aliceblue;
  border: 1px solid red;
}

.div-login .register {
  padding-bottom: 10px;
}
.div-login .register p {
  color: aliceblue;
  font-size: 14px;
  margin-right: 5px;
}
.div-login .register .p .a-no-p {
  font-size: 14px;
  margin-left: 5px;
  color: rgb(0, 119, 255);
}
